# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/packages/sun-react-icons/src
/.pnp
.pnp.js
# testing
/coverage

# production
build
dist
docs-dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-error.log*

# docz
/.docz


# umi
.umi
.umi-production
.umi-test
.env.local

lib
es
types
