*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0; // 1
  background-color: @body-bg; // 2
  color: @body-color;
  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: @font-weight-base;
  line-height: @line-height-base;
  -webkit-tap-highlight-color: rgba(@black, 0); // 4
  text-align: @body-text-align;
  -webkit-text-size-adjust: 100%; // 3
}

hr {
  border: 0;
  margin: @hr-margin-y 0;
  background-color: currentColor;
  color: @hr-color;
  opacity: @hr-opacity;
}

hr:not([size]) {
  height: @hr-height;
}

// Reset margins on paragraphs
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: @paragraph-margin-bottom;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: @font-weight-bolder;
}

small {
  font-size: @small-font-size;
}

sub {
  top: -0.5em;
}

sup {
  bottom: -0.25em;
}

sub,
sup {
  position: relative;
  font-size: @sub-sup-font-size;
  line-height: 0;
  vertical-align: baseline;
}

a {
  color: @link-color;
  text-decoration: @link-decoration;

  &:hover {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
  }
}

pre,
kbd,
samp {
  font-family: @font-family-monospace;
  font-size: 1em;
}

code {
  color: @code-color;
  font-size: @code-font-size;
  word-wrap: break-word;

  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  overflow: auto; // 3
  margin-top: 0;
  margin-bottom: 1rem; // 2
  color: @pre-color;
  font-size: @code-font-size;

  // Account for some code outputs that place code tags in pre tags
  code {
    color: inherit;
    font-size: inherit;
    word-break: normal;
  }
}

// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0 0 1rem;
}

// Images and content
img {
  vertical-align: middle;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  caption-side: bottom;
  color: @text-muted;
  text-align: left;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

// 1. Remove the margin in Firefox and Safari
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Show the overflow in Edge
button,
input {
  overflow: visible;
}

// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}

// Remove the inheritance of word-wrap in Safari.
// Details at https://github.com/twbs/bootstrap/issues/24990

select {
  word-wrap: normal;
}

// Remove the dropdown arrow in Chrome from inputs built with datalists.
// Source: https://stackoverflow.com/a/54997118

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
// 3. Opinionated: add "hand" cursor to non-disabled button elements.

button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
// Credit: https://github.com/suitcss/base/

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Remove the default appearance of temporal inputs to avoid a Mobile Safari
// bug where setting a custom line-height prevents text from being vertically
// centered within the input.
// See https://bugs.webkit.org/show_bug.cgi?id=139848
// and https://github.com/twbs/bootstrap/issues/11266

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield;
}

// 1. Remove the default vertical scrollbar in IE.
// 2. Textareas should really only resize vertically so they don't break their (horizontal) containers.
textarea {
  overflow: auto; // 1
  resize: vertical; // 2
}

// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
fieldset {
  min-width: 0; // 1
  padding: 0; // 2
  border: 0; // 2
  margin: 0; // 2
}

// 1. By using `float: left`, the legend will behave like a block element
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Correct the text wrapping in Edge and IE.
legend {
  width: 100%;
  padding: 0;
  margin-bottom: @legend-margin-bottom;
  color: inherit; // 2
  float: left; // 1
  font-size: @legend-font-size;
  font-weight: @legend-font-weight;
  line-height: inherit;
  white-space: normal; // 3
}

mark {
  padding: @mark-padding;
  background-color: @mark-bg;
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.
progress {
  vertical-align: baseline;
}

// Fix height of inputs with a type of datetime-local, date, month, week, or time
// See https://github.com/twbs/bootstrap/issues/18842
::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}

// 1. Correct the outline style in Safari.
// 2. This overrides the extra rounded corners on search inputs in iOS so that our
//    `.form-control` class can properly style them. Note that this cannot simply
//    be added to `.form-control` as it's not specific enough. For details, see
//    https://github.com/twbs/bootstrap/issues/11586.
[type="search"] {
  -webkit-appearance: textfield; // 2
  outline-offset: -2px; // 1
}

// Remove the inner padding in Chrome and Safari on macOS.
::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Remove padding around color pickers in webkit browsers
::-webkit-color-swatch-wrap {
  padding: 0;
}

// 1. Change font properties to `inherit` in Safari.
// 2. Correct the inability to style clickable types in iOS and Safari.

::-webkit-file-upload-button {
  -webkit-appearance: button; // 2
  font: inherit; // 1
}

// Correct element displays

output {
  display: inline-block;
}

// 1. Add the correct display in all browsers

summary {
  display: list-item; // 1
  cursor: pointer;
}

// Add the correct display for template & main in IE 11
template {
  display: none;
}

main {
  display: block;
}

[hidden] {
  display: none !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
