// 外部组件的包裹层，用于FC组件获取ref
.fc-component-wrap {
  display: inline-block;
}

// Popover气泡title的header的默认样式
.popover-title-header {
  padding: 2px;
  border-bottom: 1px solid $popover-title-header-border-color;
}

// Popover气泡title的content的默认样式
.popover-title-content {
  position: relative;
  display: inline-block;
}

// 气泡title的默认样式
.tooltip-title {
  padding: 4px 10px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.popover-wrap {
  // 如果是popover，要把默认气泡padding重制
  & .tooltip-title {
    padding: 0;
    font-size: 14px;
  }
}

// 气泡的z-index以及三角形的定位
.tooltip-wrap {
  position: absolute;
  z-index: $tooltip-z-index;

  &.tooltip-wrap-fixed {
    position: fixed;
  }

  &.popover-wrap {
    // popover下的三角形会大一些
    .tooltip-arrow {
      width: $popover-triangle-width;
      height: $popover-triangle-width;
      border-width: $popover-triangle-width/2;
    }
  }

  .tooltip-arrow {
    position: absolute;
    z-index: 1;
    border-style: solid;
    background: transparent;
    width: $tooltip-triangle-width;
    height: $tooltip-triangle-width;
    border-width: $tooltip-triangle-width/2;
  }

  // 左，左上，左下的水平偏移
  &.tooltip-position-left,
  &.tooltip-position-leftBottom,
  &.tooltip-position-leftTop {
    .tooltip-arrow {
      right: -$tooltip-triangle-offset-border;
    }
  }

  // 右，右上，右下的水平偏移
  &.tooltip-position-right,
  &.tooltip-position-rightBottom,
  &.tooltip-position-rightTop {
    .tooltip-arrow {
      left: -$tooltip-triangle-offset-border;
    }
  }

  // 右上，左上的垂直偏移
  &.tooltip-position-rightTop,
  &.tooltip-position-leftTop {
    .tooltip-arrow {
      top: 14px;
      transform: rotate(45deg);
    }
  }

  // 右下，左下 的水平偏移
  &.tooltip-position-rightBottom,
  &.tooltip-position-leftBottom {
    .tooltip-arrow {
      bottom: 14px;
      transform: rotate(45deg);
    }
  }

  // 上，下的水平居中
  &.tooltip-position-top,
  &.tooltip-position-bottom {
    .tooltip-arrow {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  // 左，右的垂直居中
  &.tooltip-position-left,
  &.tooltip-position-right {
    .tooltip-arrow {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }

  // 上，上右，上左的垂直偏移
  &.tooltip-position-top,
  &.tooltip-position-topRight,
  &.tooltip-position-topLeft {
    .tooltip-arrow {
      bottom: -$tooltip-triangle-offset-border;
    }
  }

  // 上右，下右的水平偏移
  &.tooltip-position-topRight,
  &.tooltip-position-bottomRight {
    .tooltip-arrow {
      right: 14px;
      transform: rotate(45deg);
    }
  }

  // 上左，下左的水平偏移
  &.tooltip-position-topLeft,
  &.tooltip-position-bottomLeft {
    .tooltip-arrow {
      left: 14px;
      transform: rotate(45deg);
    }
  }

  // 下，下右，下左的垂直偏移
  &.tooltip-position-bottom,
  &.tooltip-position-bottomRight,
  &.tooltip-position-bottomLeft {
    .tooltip-arrow {
      top: -$tooltip-triangle-offset-border;
    }
  }
}

// 深颜色的气泡主题
.tooltip-dark {
  color: $tooltip-dark-theme-color;

  .tooltip-title {
    background-color: $tooltip-dark-theme-bg;
  }

  &.tooltip-position-top,
  &.tooltip-position-topRight,
  &.tooltip-position-topLeft {
    .tooltip-arrow {
      border-top-color: transparent;
      border-right-color: $tooltip-dark-theme-bg;
      border-bottom-color: $tooltip-dark-theme-bg;
      border-left-color: transparent;
    }
  }

  &.tooltip-position-bottom,
  &.tooltip-position-bottomRight,
  &.tooltip-position-bottomLeft {
    .tooltip-arrow {
      border-top-color: $tooltip-dark-theme-bg;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tooltip-dark-theme-bg;
    }
  }

  &.tooltip-position-left,
  &.tooltip-position-leftBottom,
  &.tooltip-position-leftTop {
    .tooltip-arrow {
      border-top-color: $tooltip-dark-theme-bg;
      border-right-color: $tooltip-dark-theme-bg;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  &.tooltip-position-right,
  &.tooltip-position-rightBottom,
  &.tooltip-position-rightTop {
    .tooltip-arrow {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tooltip-dark-theme-bg;
      border-left-color: $tooltip-dark-theme-bg;
    }
  }
}

// 浅颜色的气泡主题
.tooltip-light {
  color: $tooltip-light-theme-color;

  .tooltip-title {
    background-color: $tooltip-light-theme-bg;
    box-shadow: 0 0 2px lighten($tooltip-light-theme-color, 30%);
  }

  &.tooltip-position-top,
  &.tooltip-position-topRight,
  &.tooltip-position-topLeft {
    .tooltip-arrow {
      border-top-color: transparent;
      border-right-color: $tooltip-light-theme-bg;
      border-bottom-color: $tooltip-light-theme-bg;
      border-left-color: transparent;
      box-shadow: 1px 1px 1px $tooltip-triangle-shadow;
    }
  }

  &.tooltip-position-bottom,
  &.tooltip-position-bottomRight,
  &.tooltip-position-bottomLeft {
    .tooltip-arrow {
      border-top-color: $tooltip-light-theme-bg;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tooltip-light-theme-bg;
      box-shadow: -1px -1px 1px $tooltip-triangle-shadow;
    }
  }

  &.tooltip-position-left,
  &.tooltip-position-leftBottom,
  &.tooltip-position-leftTop {
    .tooltip-arrow {
      border-top-color: $tooltip-light-theme-bg;
      border-right-color: $tooltip-light-theme-bg;
      border-bottom-color: transparent;
      border-left-color: transparent;
      box-shadow: 1px -1px 1px $tooltip-triangle-shadow;
    }
  }

  &.tooltip-position-right,
  &.tooltip-position-rightBottom,
  &.tooltip-position-rightTop {
    .tooltip-arrow {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tooltip-light-theme-bg;
      border-left-color: $tooltip-light-theme-bg;
      box-shadow: -1px 1px 1px $tooltip-triangle-shadow;
    }
  }
}
