.spin-container {
  position: relative;
}

.spin-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.spin {
  display: inline-block;
}

.spin-indicator {
  color: $spin-color;

  svg {
    display: inline-block;
    animation: $spin-animation;
  }
}

.spin-blur {
  filter: blur(1.5px);
  opacity: 0.5;
  overflow: hidden;
  //包裹了子组件 防止影响点击
  pointer-events: none;
  user-select: none;
}

.spin-tip {
  font-size: 14px;
  color: $spin-tip-color;
}

.spin-default-size {
  font-size: $spin-default-size;
}

.spin-small-size {
  font-size: $spin-small-size;
}

.spin-large-size {
  font-size: $spin-large-size;
}
