.sun-message {
  position: fixed;
  z-index: $message-z-index;
  width: $message-width;
  height: $message-height;
  transform: translate3d(0, 0, 0);
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
  }

  padding: $message-padding;
  border-radius: $border-radius;
  box-shadow: $default-shadow;
  background: $white;
  text-align: center;

  &-icon {
    svg,
    i {
      font-size: $message-icon-font-size;
    }
  }

  &-title {
    font-size: $message-title-font-size;
  }

  &.sun-message-theme-dark {
    background: $message-theme-dark-bg;
    color: $message-theme-dark-font-color;
    svg,
    i,
    .sun-message-title {
      color: $message-theme-dark-font-color !important;
    }
  }
  .sun-message-info {
    svg {
      color: $primary;
    }
  }
  .sun-message-error {
    svg {
      color: $danger;
    }
  }
  .sun-message-success {
    svg {
      color: $success;
    }
  }
  .sun-message-warning {
    svg {
      color: $warning;
    }
  }
  .sun-message-loading {
    svg {
      color: $primary;
      animation: $spin-animation;
    }
  }
}
