.sun-message {
  position: fixed;
  z-index: $message-z-index;
  height: $message-height;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
  }

  .sun-message-title-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $message-height;
    padding: $message-padding;
    border-radius: $border-radius;
    box-shadow: $default-shadow;
    background-color: $message-theme-light-bg;
    border-radius: $border-radius;
  }

  .sun-message-icon {
    svg,
    i {
      font-size: $message-icon-font-size;
    }
  }

  .sun-message-title {
    margin-left: 10px;
    font-size: $message-title-font-size;
  }

  &.sun-message-theme-dark {
    .sun-message-title-wrap {
      background: $message-theme-dark-bg;
      color: $message-theme-dark-font-color;
    }
    svg,
    i,
    .sun-message-title {
      color: $message-theme-dark-font-color !important;
    }
  }

  .sun-message-info {
    svg {
      color: $primary;
    }
  }

  .sun-message-error {
    svg {
      color: $danger;
    }
  }

  .sun-message-success {
    svg {
      color: $success;
    }
  }

  .sun-message-warning {
    svg {
      color: $warning;
    }
  }

  .sun-message-loading {
    svg {
      color: $primary;
      animation: $spin-animation;
    }
  }
}
